.BotaoCustomizado_root {
    border: none;
    padding: 8px 16px;
    box-shadow: 0px 0px 5px;
    cursor: pointer;
}

.BotaoCustomizado_root:hover {
    transform: scale(1.01);
}

.BotaoCustomizado_root:active {
    transform: scale(0.98);
}

.BotaoCustomizado_primario {
    background-color: var(--cor-primaria);
}

.BotaoCustomizado_secundaria {
    background-color: var(--cor-secundaria);
}